body {
background-color: white;
}
h1 {
	font-family: verdana; 
color: black;
border: 5px solid black;
}
p {
color: green;
}
h2 {
font-family: verdana; 
color: black;


/*linhas*/
}
h2 {
	font-family: verdana; 
color: black;
border: 2px solid black;
}


/*tabelas*/
table {
    width: 600px;
    height: 300px;
}

th {
    border: 1px solid black;
    font-family: sans-serif;
    background-color: orange;
    color: white;
}

td {
    border: 1px solid black;
    font-family: sans-serif;
    background-color: white;
}

tfoot {
    font-family: sans-serif;
    text-align: center;
    font-size: 13px;
    color: black;
    background-color: red;
}

.info {
    background-color: orange;
    color: white;
}
/*formularios*/
textarea {
    width: 400px;
    height: 50px;
    
}


.contorno{

    width: 50%
}

.tabela{
    background-color: white;
}


